* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #111B21;
    --border: 1px solid;
    --border-test: var(--border) #fff;
    --border-test-aqua: var(--border) #15c9c0;
    --border-test-red: var(--border) red;
}

body {
    background-color: var(--background-color);   
}

main {
    display: flex;
    width: 90%;
}

/** SIDEBAR */
.sidebar {
    border: var(--border-test);
    width: 40%;
}

/** SIDEBAR - Navigation  */

.sidebar__nav {
    border: var(--border-test-red);
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    background-color: #202C33;
}

.sidebar__nav > img {
    border: var(--border-test);
}

/** PROFILE PICTURE */
.sidebar__profile-picture {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    margin: 0.5rem 0.7rem;
}

.sidebar__profile-picture img {
    position: absolute;
    width: auto;
    height: auto;
    max-width: 100%;
    pointer-events: none;
}

/** CHAT  */
.chat {
    display: flex;
    width: 60%;
    border: var(--border-test-aqua);
    
    height: 50vh;
}