* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
}

:root {
    --c-background: #111B21;
    --c-contrast-primary: #202C33;
    --c-contrast-secondary: #2A3942;
    --c-border: #2F3B43;
    --c-contrast-font: #D1D7DB;

    --border: 1px solid;
    --border-test: var(--border) var(--c-border);
    --border-test-aqua: var(--border) #15c9c0;
    --border-test-red: var(--border) red;

    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --sidebar-width: clamp(350px, 45%, 450px);
}

::placeholder {
    color: #8696A0;
}

body {
    background-color: var(--c-background);   
}

main {
    display: flex;
    width: 90%;
    min-height: 100vh;
    border-collapse: collapse;
}


/** General */

.circle {
    border-radius: 50%;
}

.btn {
    background-color: inherit;
    outline: 0;
    border: 0;
    cursor: pointer;
}

.btn:active {
    background-color: var(--c-contrast-secondary);
}

/** SIDEBAR */
.sidebar {
    width: var(--sidebar-width);
    border-right: var(--border) var(--c-border);
}

/** SIDEBAR - Navigation  */

.sidebar-nav {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr 1fr;
    column-gap: min(1rem, 2vw);
    background-color: var(--c-contrast-primary);
    height: 3.7rem;
    padding: 0 15px 0 15px;
}

/** SIDEBAR - ICONS */

.sidebar-nav__btn {
    width: 2.5rem;
    height: 2.5rem;
    align-self: center;
    cursor: pointer;
    display: grid;
    place-items: center;
}

.sidebar-nav__icon {
    margin: auto;
}

.sidebar-nav__icon:last-child {
    width: 20px;
    height: auto;
}

.sidebar-nav__icon:hover, .sidebar-nav__icon:focus {
    cursor: pointer;
}

/** SIDEBAR - SEARCH */
.sidebar-search-area {
    display: grid;
    grid-template-columns: 90% 10%;
    padding: 0.35rem 0 0.3rem 0.75rem;
}

.sidebar-search-area__search-container {
    display: flex;
    background-color: var(--c-contrast-primary);
    border-radius: 0.5rem;
    width: 100%;
    height: 2.2rem;
    display: grid;
    grid-template-columns: 4rem 1fr;
    align-items: center;
}

.sidebar-search-area__search-icon {
    width: 15px;
    height: auto;
    margin-left: 1rem;
}

.sidebar-search-area__textbox {
    width: 80%;
    font-size: 0.937rem;
    color: var(--c-contrast-font);
    background-color: var(--c-contrast-primary);
    border: 0;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: 0;
}

.sidebar-search-area__filter-icon {
    margin-top: 0.6rem;
    width: 20px;
    height: auto;
    justify-self: center;
}

/** PROFILE PICTURE */
.img-container {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.sidebar-nav__profile-picture-container {
    width: 2.5rem;
    height: 2.5rem;
    align-self: center;
}

.img--circle {
    position: absolute;
    width: auto;
    height: auto;
    max-width: 100%;
    pointer-events: none;
}

/** SIDEBAR - CHATS */

.sidebar-chat {
    --column-gap: 0.4rem;
    --first-grid-column-width: 4.5rem;
    --second-grid-column-width: calc(100% - var(--column-gap) - var(--first-grid-column-width));

    display: grid;
    grid-template-columns: var(--first-grid-column-width) var(--second-grid-column-width);
    min-height: 4.7rem;
    column-gap: var(--column-gap);
    cursor: pointer;
}

.sidebar-chat:hover {
    background-color: var(--c-contrast-primary);
}

.sidebar-chat__profile-picture-container {
    justify-self: center;
    align-self: center;
    width: 3.063rem;
    height: 3.063rem;
}

.sidebar-chat__message-area {
    padding-top: 0.96rem;
    border-bottom: var(--border-test);
    font-family: var(--font-family);
}

.sidebar-chat__message-sender {
    font-weight: 450;
    font-size: 1rem;
    color: var(--c-contrast-font);
    display: block;
    margin-bottom: 3px;
}

.sidebar-chat__message-container {
    display: flex;
}

.sidebar-chat__message-text {
    --c-message-content: #8696A0;
    display: block;
    font-family: inherit;
    font-size: 0.85rem;
    color: var(--c-message-content);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/** CHAT  */
.chat {
    display: flex;
    width: calc(100% - var(--sidebar-width));
    border: var(--border-test);
}

.chat-nav {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr 1fr;
    column-gap: min(1rem, 2vw);
    background-color: var(--c-contrast-primary);
    height: 3.7rem;
    padding: 0 15px 0 15px;
    width: 100%;
}